<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Async Voter</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  <h1>Async Voter</h1>
  <h2>Voting on Stories and Tickets remotely and asynchronously.</h2>
  <h3>How it works?</h3>
  <ul>
    <li>Start a voting session</li>
    <li>Submit your vote</li>
    <li>See the result</li>
  </ul>
  <h3>Start now!</h3>
  <a href="https://slack.com/oauth/authorize?scope=commands&client_id=<%= client_id %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
</body>
</html>